@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
    box-sizing: border-box;
}
/* .main {
    font-family: 'Open Sans', sans-serif;
    background-image: url(images/background74.jpg);
} */
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
[class*='col-'] {
    padding-left: 15px;
    padding-right: 15px;
}
.row-welcome {
    flex-direction: column;
    align-content: space-around;
    padding-top: 15%;
    margin-left: 15px;
}

.photo-hi > img {
    max-width: 100%;
    padding-left: 15px;
}

.row-point {
    display: flex;
    flex-wrap: wrap;
}

.description {
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-weight: 600;
    line-height: 90px;
}

span {
    color: #1d8fbd;
}

.point-description {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    margin-left: 15px;
}

.button-description > button {
    color: white;
    border: 1px solid #1d8fbd;
    border-radius: 5px;
    background-color: #1d8fbd;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.button-description > button :hover {
    background-color: #95d0e9;
}

/* about us */

.about-us {
    margin: 100px;
    /* background-image: url(public/images/background74.jpg); */
}

.description-about-us {
    font-size: 62px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 90px;
}

.deep-knowledge {
    position: relative;
}

.photo-deep {
    width: 250px;
    height: 380px;
}
.about-inside-img {
    position: absolute;
    top: 150px;
    padding: 0px 70px 0px 70px;
}

.about-inside-img-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 34px;
    margin-top: 20px;
}

.icon-deep {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    margin: auto;
}

.icon-deep-in {
    width: 30px;
    height: 30px;
    margin: 15px;
}

.row-about-1,
.row-about-2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.years-of-expirience {
    width: 250px;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #1d8fbd;
    margin: 20px 0px 10px 0px;
}

.happy-client {
    width: 250px;
    padding-bottom: 45px;
    padding-top: 50px;
    background-color: #1d8fbd;
    margin: 47px 0px 20px 0px;
}

.about-number,
.about-number-under {
    text-align: center;
}

.about-number {
    color: white;
    margin: 15px;
    font-size: 75px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.about-number-under {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.row-marketing {
    /* background-color: gray; */
    padding-bottom: 100px;
    padding-left: 50px;
    margin-left: -30px;
    margin-top: 73px;
    padding-top: 40px;
    margin-right: 0;
}
.container-marketing-facts {
    background-color: gray;
    margin-left: -15px;
    margin-right: -15px;
}

.row-facts {
    background-color: gray;
    flex-wrap: nowrap;
    padding: 80px 200px 80px 200px;
    margin: -4px 0px 0px 0px;
}

.paragraph-1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 10px;
}

.paragraph-2 {
    font-family: 'Poppins', sans-serif;
    color: rgb(197, 194, 194);
    font-size: 20px;
    font-weight: 300;
    line-height: 18px;
}

.facts-1,
.facts-2,
.facts-3,
.facts-4 {
    padding-left: 10px;
    padding-right: 10px;
}

.button-marketing {
    text-align: center;
    background-color: gray;
}
