.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.col-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

/* tablet */
@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
}

/* laptop */
@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .work1 > img {
        width: 360px;
        margin: 15px;
    }
}

/* desctop */
@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
}

@media (max-width: 1023px) {
    .row-headMenu {
        overflow-x: scroll;
    }
}

@media (max-width: 1023px) {
    .col-xs-hidden {
        display: none;
    }
}
/* only mobile */

@media (max-width: 767px) {
    .header-row {
        justify-content: center;
    }
    .col-xs-hidden {
        display: none;
    }
    .header {
        padding: 25px 0 0 0;
    }
    .header-row {
        justify-content: center;
    }
    .headMenu > ul > li {
        overflow-x: scroll;
    }
    .headMenu {
        display: flex;
        align-items: center;
        overflow-x: scroll;
        position: relative;
    }
    .headMenu > ul > li:first-child {
        margin-left: 0px;
    }

    .description {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
    }

    .button-description > button {
        color: white;
        border: 1px solid #1d8fbd;
        border-radius: 5px;
        background-color: #1d8fbd;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        font-size: 10px;
        padding: 10px;
        margin-top: 30px;
        cursor: pointer;
    }
    .description-about-us {
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        line-height: 25px;
    }
    .row-facts {
        background-color: gray;
        flex-wrap: nowrap;
        padding: 10px 20px 10px 20px;
        margin: -4px 0px 0px 0px;
        flex-direction: column;
    }
    .about-number {
        color: white;
        margin: 15px;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
    .paragraph-1 {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 15px;
        font-weight: 500;
        line-height: 15px;
        margin-bottom: 5px;
    }
    .paragraph-2 {
        font-family: 'Poppins', sans-serif;
        color: rgb(197, 194, 194);
        font-size: 10px;
        font-weight: 300;
        line-height: 10px;
    }
    .row-marketing {
        background-color: gray;
        padding-bottom: 100px;
        padding-left: 50px;
        margin-left: 0px;
        margin-top: 73px;
        padding-top: 40px;
        margin-right: 0;
    }
    .row-about-all {
        margin-left: 0;
    }
}
