@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
[class*='col-'] {
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}
.logo-img {
    width: 260px;
}

.headMenu {
    margin-top: 20px;
    line-height: 26px;
}
.row-headMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.row-headMenu > li {
    color: #1d8fbd;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.row-headMenu > li:hover {
    color: white;
    text-decoration: underline;
    border: 1px solid #1d8fbd;
    border-radius: 5px;
    background-color: #1d8fbd;
    text-decoration: none;
    transition-duration: 1s;
    cursor: pointer;
}

.phone {
    background-color: #1d8fbd;
    border: 1px solid #1d8fbd;
    border-radius: 5px;
    margin-top: 20px;
}

.row-phone > img {
    padding: 5px 10px 5px 20px;
}

.number-phone {
    line-height: 10px;
    color: white;
}
